<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="LegacyShop.Services.OrderService" behaviorConfiguration="OrderServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="OrderBinding" contract="LegacyShop.Services.IOrderService" />
        <endpoint address="net.tcp://localhost:8081/OrderService" binding="netTcpBinding" contract="LegacyShop.Services.IOrderService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/OrderService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="OrderBinding" maxReceivedMessageSize="1048576" sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
